<div (click)="onClose()" class="ui dimmer visible active">
  <div class="ui modal visible active" (click)="$event.stopPropagation()">
    <i class="close icon" (click)="onClose()"></i>
    <ng-content select="[modalTitle]"></ng-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="actions actions-default">
      <button class="ui button" (click)="onClose()">Ok</button>
    </div>
    <div class="actions">
      <ng-content select="[modalFooter]"></ng-content>
    </div>
  </div>
</div>
